.counter-block {
  height: 332px;
  background-image: linear-gradient(
      rgba(67, 131, 142, 0.5),
      rgba(67, 131, 142, 0.6)
    ),
    url("./images/blockchain-exch.png");
  display: flex;
  justify-content: space-evenly;
}

.counter-block > img {
  height: 100%;
  width: 100vw;
  transform: scale(1.1);
}
