.wwp-block {
  display: flex;
  height: 1000px;
}

.side-image {
  /* border: 1px solid green; */
  overflow: hidden;
}

.side-image > img {
  transform: scale(0.8);
  /* height: 100%; */
  position: relative;
  top: -134px;
  left: -270px;
}

.wwp-items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
